.comp {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 42px;
    padding-top: 0px;
}

input {
    box-shadow: none;
    font-family: "Roboto Regular", sans-serif;
    font-size: 1em;
    height: 42px;
    padding-left: 10px;
}

.compInput {
    padding-left: 20px;
}

.comp::before {
    content: '$';
    font-family: "Roboto Regular", sans-serif;
    font-size: 1em;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.editModalTitle {
    margin-top: 0.5rem;
}

.modal-header {
    display: block !important;
    margin-bottom: 0.5rem;
    padding-bottom: 0px;
    color: white;
    background-color: #0066ba;
}

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}