/* You can add global styles to this file, and also import other style files */
html, body {
    width: 100%;
    height: 100%;
}

.mat-grid-tile {
    left: 0px !important; 
    width: 100% !important; 
    height: 100%;
    margin-top: 0px; 
    /* padding-top: calc((15% - 0.75px) * 1 + 0px) !important; */
    /* padding-top: 0px !important; */
    margin-bottom: 50px !important;
    position: relative !important;
    display: block;
}

.mat-grid-list {
    padding-bottom: 0px;
}

.mat-grid-tile .mat-figure {
    display: block !important;
}

.mat-card-header-text{
    margin: 0px !important;
}

dt {
    background-color: black;
    font-size: 15px;
    height: 40px;
    color: white;
    display: table-cell;
    vertical-align: middle;
    width: 100vw;
    padding-left: 5px;
}

dd {
    margin-left: 0;
    margin-top: 10px;
    padding-left: 5px;
    background-color: #e8e8e8;
    height: 40px;
}

mat-card {
   border-width: thin;
   border-style: solid;
   border-color: black; 
}

mat-grid-list {
    margin-right: 15px;
    margin-left: 15px;
    padding-bottom: 0 !important;
}

.material-icons {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
}

span {
    position: absolute;
    padding-bottom: 12px;
    padding-top: 12px;
}

a {
    color: black;
}

a:hover {
    color: blue;
}

h1 {
    margin-bottom: 1.5rem;
    font-size: 2rem;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 16px 0;
    margin-top: 0px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
}

input[type=text]:focus {
    background-color: lightblue;
}

.saveBtn {
    margin-left: 20%;
    margin-top: 5%;
}

.cancelBtn {
    float: right;
    margin-right: 20%;
    margin-top: 5%;
}

button {
    width: 90px;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 2px;
    font-size: 16px;
    border: none;
}

button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}